odm/etc/camera/model/license.lic
odm/etc/camera/license_release_fdc.lic
odm/etc/camera/megvii
system/system/apex/com.android.vndk.current.apex
system_ext/priv-app/Settings/Settings.apk
system_ext/priv-app/SystemUI/SystemUI.apk
